# local package
# -e .
# external requirements

pandas
numpy==1.26.4
dvc
keras
scikit-learn
matplotlib
seaborn
# tensorflow[and-cuda]==2.10.*
tensorflow==2.10.*
# tensorflow==2.16.1
joblib
PyYaml
streamlit
h5py
keras_preprocessing
mlflow
opencv-python
