# local package
# -e .
# external requirements

pandas
numpy
dvc
keras
scikit-learn
matplotlib
seaborn
# tensorflow[and-cuda]
tensorflow
# tensorflow==2.16.1
joblib
PyYaml
streamlit
h5py
keras_preprocessing
mlflow
opencv-python
